# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Everything in any directory
*.tar.gz
*.jar
*.parquet

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Password/Credentials
app/.pwd


creConnect/.pwdmongolocal
creConnect/.pwdmongoatlas

# Dependency directories (remove the comment below to include it)
# vendor/
.DS_Store
.idea/
.vscode/


# Folders where jar and *.tar.gz files will be staged, not to be included in git sync.
# also excluding these via *.tar.gz and *.jar definitions higher up.

example/*
app/data/*


devlab/data/*

devlab/flink/stage/*
devlab/sql-client/stage/*

infrastructure/build-hadoop-openjdk11-hdfs/base/stage/*


# split-sources-in-streaming-world
#